<%= erb :_top_nav %>
<div class="content">

  <form action = "/guess" method = "post" class = "card">
    <fieldset>
      <legend> <%= @card.deck.name %> </legend>
      <input type = "hidden" name = "round_id" value = "<%= @round.id %>"
    <article>
      <p><%= @card.question %></p>
    </article>
    <input type = "text" name = "answer" class = "answer" placeholder = "Answer goes here.">
    <input type = "submit" value = "Guess!" class = "guess">
    </fieldset>
  </form>

</div>
