  <form class="guess" action = "/guess" method = "post" class = "card">
    <fieldset>
      <legend> <%= @card.deck.name %> </legend>
      <input type = "hidden" name = "round_id" value = "<%= @round.id %>">
    <article>
      <p><%= @card.question %></p>
    </article>
    <input type = "text" name = "answer" class = "answer" placeholder = "Answer goes here.">
    <button type = "submit" class = "btn card">Guess!</button>
    </fieldset>
  </form>

<div id="feedback">
<span></span>
</div>
<form action='/next_card'>
<button type="submit" class="btn btn-med btn-warning">Next Card!</button>
</form>


