<div class="content">
  <form action="/login" method="get">
    <fieldset class = "logon">
      <legend>>Log On</legend>
      <input type="text"   name="login[email]">
      <input type="text"   name="login[password]">
      <input type="submit" name="Login!">
    </fieldset>

    <fieldset class="signup">
      <legend>>Sign Up</legend>
      <input type="text"   name="signup[name]">
      <input type="text"   name="signup[email]">
      <input type="text"   name="signup[password]">
      <input type="submit" name="Sign Up!">
    </fieldset>


  </form>

</div>
