<div class="content">
  
<hgroup>
    <div class="landing_image"><img src="/images/landing.png" height="500" width="340"></div>
    <h1 class="first">Do The</h1>
    <h1 class ="second">Truffle</h1>
    <h1 class ="third">Shuffle!</h1>
  
</hgroup>

<div class="index_buttons">
  
</div>

</div>
