<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">

  <title>Flashcards</title>





</head>

<div class = "container">

  <header>
    <nav>
      <h1><a href="/">Do The Truffle Shuffle!</a></h1>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>

</div>

</html>
