<link rel="stylesheet" href="/css/login_signup.css">
<div class="content">

<form id="login" action="/login" method="post">
    <fieldset class = "logon">
      <legend>Log On</legend>
      <input type="text"   name="email" placeholder = "Email"><br>
      <input type="password"   name="password" placeholder = "Password"><br>
      <input type="submit" name="logon" class = "btn btn-extra-large btn-success" value = "Log On!">
    </fieldset>

</form>

</div>
