
<legend id="profile_legend">Welcome <%= @user.name %>!</legend>
<p>To get started choose a deck below</p>
<form action = "/game" method = "post" class = "game-choose">
  <select name = "deck">
    <option>Choose A Deck</option>
    <% session[:decks].each do |type| %>
      <option value= "<%= type.id %>" ><%=type.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Play!" class = "btn btn-medium btn-success">
</form>

<!-- <article class = "stats">
  <h2>Stats</h2>
  <ul>
    <li>Rounds</li>
  </ul>
</article> -->
