
<div class="content">
  

  <form action="/login" method="get">

    <fieldset class="signup">
      <legend>Sign Up</legend>
      <input type="text"   name="signup[name]" placeholder = "Name"><br>
      <input type="text"   name="signup[email]" placeholder = "Email"><br>
      <input type="password"   name="signup[password]" placeholder = "Password"><br>
      <input type="submit" name="signup" class = "submit" value = "Sign Up!">
    </fieldset>


  </form>

</div>
